html,
body,
.cover {
    height:100%;
}


.cover {
    background: url('img/pc_workspace_bg.jpg');
    background-size: cover;
    display:table;
    width:100%;
    padding:0 20%;
    box-shadow:inset 0 0 100px #000;
}

.cover-text {
    text-align:center;
    color:#f1eff1;
    display:table-cell;
    vertical-align: middle;
    -webkit-text-stroke:.4px white;
    text-shadow: 3px 2px #3c3c3c;
}
#btnSoumission {
    margin:8% 0 0 0;
}
#pourquoiBeaudin {
    padding-bottom:30px;
}
#contact {
    padding-bottom:30px;
}

.cover-text p {
    margin-top:5%;
    font-size:3vw;
    letter-spacing:-1.5px;
    -webkit-text-stroke:.2px white;
    text-shadow: 3px 2px #3c3c3c;
    background-color:rgba(40,38,43,0.60);
    border-radius:15px;
    display:inline-block;
}

.cover-text h1 {
    margin:0;
    font-size:4vw;
    letter-spacing:-2px;
    background-color:rgba(40,38,43,0.60);
    border-radius:15px;
    display:inline-block;
}


nav.navbar-inverse {
    background: rgba(0,0,0,0.75);
    border:none;
}

.testimonial {
    background:#222;
}
#soumission {
    background:#f1eff1;
}
.icones {
    width:64px;
    height:64px;
}
.hideshow {
    margin:30px 0 0 0;
    font-style:italic;
}
.modal-backdrop {
    opacity: 0 !important;
}
.form-group h3 {
    padding-top:20px;
    padding-bottom:20px;
}
blockquote {
    border:none;
    margin: 0;
    font-family: Georgia, Times, Serif;
    font-style:italic;
    font-size:32px;
    color:white;
}
blockquote cite {
    display: block;
    text-align:right;
    text-transform:uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-style:normal;
    font-size:18px;
    font-weight:bold;
    color:#888;
    margin-top:40px;

}
.nav-custom {
    margin:0 25%;
}
.nav-pills li {
    width:100%;
    margin-left:2px;
    margin-bottom:2px;
}
.nav-pills a {
    background:#333;
    color:silver;
}
section {
    padding:100px;
}
#formation {
    margin:30px 0 0 0;
}
h2 {
    text-align:center;
    font-size:28px;
    font-weight:bold;
    text-transform:uppercase;
    margin:0 0 60px;
    margin-top:60px;
}
h2 + p {
    text-align:center;
    margin-top:-60px;
}
.linkedIn {
    margin:0 25% 0 0;
}
.icocontact {
    display:inline-block;
}
.breaker {
    display:inline;
}
#francois {
     background: url('img/fan.jpg') top left no-repeat;
     background-size:cover;
     color:white;
     text-align:center;
 }

#francoisPhoto {
    width:;
    height:;
    max-width:100%;
    max-height:100%;
}
footer {
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    font-family:Georgia, Times, Serif;
}
footer a {
    color:hotpink;
}



/* Media Queries */
@media only screen and ( max-width : 768px ) {

    .cover-text p {
        margin-top:5%;
        font-size:7vw;
        letter-spacing:-1.5px;
        -webkit-text-stroke:.2px white;
        text-shadow: 3px 2px #3c3c3c;
        background-color:rgba(40,38,43,0.60);
        border-radius:15px;
        display:inline-block;
    }

    .cover-text h1 {
        margin:0;
        font-size:8vw;
        letter-spacing:-2px;
        background-color:rgba(40,38,43,0.60);
        border-radius:15px;
        display:inline-block;
    }

    #btnSoumission {
        margin:0% 0 0 0;
    }
    .icones {
        width:32px;
        height:32px;
    }
    .nav-custom {
        margin:0;
    }
    .nav-pills li {
        width:100%;
        margin-left:2px;
        margin-bottom:2px;
    }
}


@media only screen and ( max-width : 568px ) {

   .cover {
        background:url('img/pc_workspace_bg568.jpg') no-repeat center;
        background-size:cover;
        display:table;
        width:100%;
        margin:
        box-shadow:inset 0 0 0px #000;
    }
    .cover-text {
        display:table-cell;
        vertical-align: middle;
        text-align:center;
        color:white;
        -webkit-text-stroke:.4px black;

    }

    .cover-text p {
        margin-top:5%;
        font-size:7vw;
        letter-spacing:-1.5px;
        -webkit-text-stroke:.2px white;
        text-shadow: 3px 2px #3c3c3c;
        background-color:rgba(40,38,43,0.60);
        border-radius:15px;
        display:inline-block;
    }

    .cover-text h1 {
        margin:0;
        font-size:8vw;
        letter-spacing:-2px;
        background-color:rgba(40,38,43,0.60);
        border-radius:15px;
        display:inline-block;
    }

    section {
        padding:20px;
    }
    .nav-custom {
        margin:0;
    }
    .nav-pills li {
        width:100%;
        margin-left:2px;
        margin-bottom:2px;
    }
    #btnSoumission {
        margin:0% 0 0 0;
    }
    .icones {
        width:32px;
        height:32px;
    }
    .breaker {
        display:none;
    }
    .contactList {
        margin:auto;
        width:50%;
    }
    .icocontact {
        margin:0 0 0 20%;
    }
    .linkedIn {
        margin:0 0 0 20%;
    }
}
